/* Formattazione pagina */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(246, 248, 249);
}

/* Header */
header{
  padding: 10px 20px;
  background-color: white;
}

#logo{
  vertical-align: middle;
}

header h1{
  display: inline-block;
  vertical-align: middle;
  font-weight: 800;
}

/* Barra dei tasti */
.container-top{
  background-color: white;
  max-width: 800px;
  height: 50px;
  margin: 50px auto 3px;
  border-radius: 10px;
  line-height: 50px;
}

#add-task-button{
  text-align: center;
  margin-left: 30px;
  background-color: rgb(104, 170, 241);
  color: white;
  padding: 7px;
  border-radius: 5px;
  border-style: hidden;
  cursor: pointer;
}

#add-task-button:hover{
  background-color: rgb(88, 144, 203);
}

#add-section-button{
  text-align: center;
  background-color: white;
  color: rgb(156, 156, 156);
  padding: 7px;
  border: 1px solid rgb(156, 156, 156);
  border-radius: 5px;
  cursor: pointer;
}

#add-section-button:hover {
  background-color: rgb(240, 240, 240);
}

/* Contenitore auto-adattante */
.container-bottom{
  background-color: white;
  max-width: 800px;
  height: auto;
  margin: auto;
  border-radius: 10px;
  line-height: 50px;
  padding: 30px;
}

/* Task */
.task{
  font-size: 20px;
  font-weight: bold;
}

.task::before{
  content: "\2BC6";
  padding-right: 5px;
}

.check{
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1.5px solid limegreen;
  color: limegreen;
  font-size: 1.1rem;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
}

.nocheck{
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1.5px solid rgb(211, 19, 19);
  color: rgb(211, 19, 19);
  font-size: 1.2rem;
  border-radius: 50%;
  text-align: center;
  line-height: 19px;
}

.text{
  font-weight: 520;
  padding-left: 10px;
}

/* Badges */
.editorial{
  font-weight: bold;
  font-size: 0.7em;
  text-align: center;
  margin-left: 5px;
  background-color: rgb(104, 170, 241);
  color: white;
  padding: 7px;
  border-radius: 15px;
  border-style: hidden;
}

.goals{
  font-weight: bold;
  font-size: 0.7em;
  text-align: center;
  margin-left: 5px;
  background-color: rgb(149, 117, 228);
  color: white;
  padding: 7px;
  border-radius: 15px;
  border-style: hidden;
}

.recruiting{
    font-weight: bold;
      font-size: 0.7em;
      text-align: center;
      margin-left: 5px;
      background-color: rgb(124, 188, 167);
      color: white;
      padding: 7px;
      border-radius: 15px;
      border-style: hidden;
}

.mobile{
  font-weight: bold;
  font-size: 0.7em;
  text-align: center;
  margin-left: 5px;
  background-color: rgb(227, 160, 57);
  color: white;
  padding: 7px;
  border-radius: 15px;
  border-style: hidden;
}

.website{
  font-weight: bold;
  font-size: 0.7em;
  text-align: center;
  margin-left: 5px;
  background-color: rgb(199, 107, 161);
  color: white;
  padding: 7px;
  border-radius: 15px;
  border-style: hidden;
}

.sales{
  font-weight: bold;
  font-size: 0.7em;
  text-align: center;
  margin-left: 5px;
  background-color: rgb(178, 198, 41);
  color: white;
  padding: 7px;
  border-radius: 15px;
  border-style: hidden;
}